$primaryBG: #FDFDFB;
$secondaryBG: #D4B098;
$thirdBG: #444240;
$fourthBG: #E5E5E5;
$sixBG:#F7F5EF;
$primaryTextColor: #1B1A17;
$secondaryTextColor: #555248;
$ligthTextColor: #FFFFFF;
$secondaryLigthText: rgba(255, 255, 255, 0.75);
$thirdTextColor: rgba(27, 26, 23, 0.82);






//Переменные медиа
$desktop: 1368px;
$laptop: 1100px;
$tablet: 780px;
$phones: 480px;
