@use '../setup/var' as v;
@use '../setup/mixins';

// .main{
//     margin: 0 auto;
//     }
.new-collection{
    background-color: v.$primaryBG;
    padding: 0 16px 0 22px;
    height: 768px;
    width: 100%;
    position: relative;
    @include mixins.laptop{
            height: 500px;
    }
    @include mixins.tablet{
            height: 300px;
    }
    @include mixins.phones{
            padding: 0;
            height: 200px;
    }
    &__wrapper{
        height: 100%;
        background-image: url('../../../assets/img/watch_main.png'),
                        url('../../../assets/img/elipse_main.png');
        background-position-x: 665px, 0px;
        background-repeat: no-repeat;
        position: relative;
        @include mixins.desktop{
            background-position-x: 450px, -178px;
        }
        @include mixins.laptop{
            background-position-x: 290px, -118px;
            background-size: auto 530px, cover;
        }
        @include mixins.tablet{
            background-position-x: 250px, 8px;
            background-size: auto 320px, cover;
        }
        @include mixins.phones{
            background-position-x: 150px, -8px;
            background-size: auto 220px, cover;
        }
    }
    &__info{
        width: 408px;    
        padding-top: 236px;    
        padding-left: 65px;
        @include mixins.flex(stretch, flex-start, column);
        margin-left: 14px;
        &::before{
            @include mixins.line;
            margin-left: -65px;
            position: absolute;
            top: 265px;
            @include mixins.laptop{
                @include mixins.line(30px);
                top: 125px;
                margin-left: -45px;
            }
            @include mixins.tablet{
                @include mixins.line(20px);
                top: 50px;
                margin-left: -25px;
            }
            @include mixins.phones{
                display: none;
            }
            }
        @include mixins.laptop{
            width: 250px;    
            padding-top: 106px; 
            padding-left: 45px;
        }
        @include mixins.tablet{
            width: 200px;    
            padding-top: 35px; 
            padding-left: 25px;
        }
        @include mixins.phones{
            width: 100px;    
            padding: 15px 0 0 0 ; 
            margin-left: 0;
        }
    }      
    
    &__title{
        font-family: 'Playfair Display', serif;
        font-size: 45px;
        margin-bottom: 16px;   
        @include mixins.laptop{
            font-size: 32px;
        }    
        @include mixins.tablet{
            font-size: 26px;
        }    
        @include mixins.phones{
            font-size: 18px;
        }    
    }
    &__subtitle{
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        margin-bottom: 39px;
        @include mixins.laptop{
            font-size: 26px;
        } 
        @include mixins.tablet{
            font-size: 18px;
        } 
        @include mixins.phones{
            font-size: 14px;
        } 
    }
    &__text{
        font-weight: 300;
        line-height: 21px;
        color: v.$thirdTextColor;
        width: 258px;
        margin-bottom: 64px;
        @include mixins.laptop{
            font-size: 12px;
            width: 205px;
        } 
        @include mixins.laptop{
            font-size: 10px;
            line-height: 16px;
            width: 180px;
        } 
        @include mixins.phones{
            font-size: 8px;
            line-height: 12px;
            width: 120px;
            margin-bottom: 15px;
        } 
    }
    &__link{
        width: 205px;
        height: 64px;
        background-color: v.$thirdBG;
        padding: 26px 38px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.05em;
        color: v.$ligthTextColor;
        @include mixins.laptop{
            width: 165px;
            height: 50px;
            padding: 19px 18px;
        }
        @include mixins.tablet{
            width: 130px;
            height: 30px;
            padding: 9px 10px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
        @include mixins.phones{
            width: 100px;
            height: 20px;
            padding: 4px 6px;
            font-size: 8px;
            line-height: 10px;
        }
    }
    &__price{
        font-family: 'Prata', serif;
        font-size: 16px;
        position: absolute;
        top: 138px;
        left: 583px;
        &::after{
            @include mixins.line;
            margin-left: 11px;
            @include mixins.laptop{
                @include mixins.line(30px);
            }
                
        }
        & img{
            margin-left: 7px;
        }
        @include mixins.desktop{
            font-size: 14px;
            left: 450px;
        }   
        @include mixins.laptop{
            font-size: 14px;
            left: 250px;
            top: 70px;
        }   
        @include mixins.tablet{
            display: none;
        }   
            
    }

    &__size{
        font-family: 'Prata', serif;
        font-size: 16px;
        position: absolute;
        bottom: 116px;
        right: 114px;
        &::before{
            @include mixins.line;
            margin-right: 14px;
            @include mixins.laptop{
                @include mixins.line(30px);
            }
        }
        @include mixins.desktop{
            right: 30px;
            font-size: 14px;
        }   
        @include mixins.laptop{
            right: 20px;
            font-size: 14px;
        }   
        @include mixins.tablet{
            display: none;
        } 
    }
}
.popular{
    background-color: v.$ligthTextColor;
    height: 720px;
    @include mixins.flex(stretch, flex-start, column);
    @include mixins.laptop{
            height: 500px;
        }
    @include mixins.tablet{
            height: 430px;
        }
    @include mixins.phones{
            height: 100%;
        }
    &__header{
        @include mixins.flex(center, flex-end);
        padding: 76px 0 52px 0;
        height: 167px;
        @include mixins.laptop{
            padding: 25px 0 42px 0;
        }
        @include mixins.tablet{
            height: 90px;
            padding: 25px 0;
        }
    }
    &__title{
        font-family: 'Playfair Display';
        font-size: 32px;
        margin-right: 24%;
        @include mixins.laptop{
            font-size: 28px;
        }
        @include mixins.tablet{
            font-size: 18px;
        }
        @include mixins.phones{
            font-size: 12px;
        }
    }
    &__link{
        color: v.$thirdBG;
        font-size: 16px;
        font-weight: 500;
        padding-top: 36px;
        padding-bottom: 8px;
        border-bottom: 1px solid #C4C0B6;
        @include mixins.laptop{
            font-size: 14px;
        }
        @include mixins.tablet{
            font-size: 12px;
            padding-top: 20px;
        }
        @include mixins.tablet{
            font-size: 8px;
            padding-top: 10px;
        }
    }
    &__wrapper{
        @include mixins.flex(center, space-between);
            gap: 30px;
        @include mixins.desktop{
            gap: 20px;
        }
        @include mixins.phones{
            @include mixins.flex(center, center, column);
        }    
    }
}
.product{
    width: 370px;
    height: 467px;
    background-color: v.$primaryBG;
    padding: 40px 28px;
    @include mixins.flex(stretch, flex-start, column);
    @include mixins.desktop{
            width: 280px;
            height: 410px;
            padding: 20px 10px;
        }   
    @include mixins.laptop{
            width: 180px;
            height: 310px;
    }   
    @include mixins.tablet{
            &:last-child{
                display: none;
            }
                
    }   
    @include mixins.phones{        
            &:last-child{
                display: flex;
            }
                
    }   
    &__title{
        font-family: 'Playfair Display';
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: v.$thirdTextColor;
        margin-bottom: 10px;
        padding-left: 12px;
    }
    &__price{
        height: 12px;
        font-family: 'Prata', serif;
        font-size: 12px;
        color: v.$thirdTextColor;
        margin-bottom: 2px;
        padding-left: 12px;
        & img{
            height: 10px;
        }
    }
    &__img{
        width: 313px;
        height: 313px;
        background: url('../../../assets/img/Ellipse.png') 50% 50%/contain no-repeat; 
        @include mixins.desktop{
            width: 225px;
            height: 225px;
        }
        @include mixins.laptop{
            width: 160px;
            height: 160px;
        }
    }
    &__link{
        color: v.$primaryTextColor;
        font-family: 'Playfair Display';
        font-size: 16px;
        line-height: 21px;
        margin-top: 19px;
        padding-left: 60px;
        &::before{
            @include mixins.line;
            margin: 0 18px 4px 0; 
            @include mixins.laptop{
                @include mixins.line(30px)
            }
            
        }          
        @include mixins.desktop{
            padding-left: 30px;
        }  
        @include mixins.laptop{
            font-size: 14px;
            padding-left: 20px;
        }  
    }
}
.quality{
    height: 519px;
    width: 100%;
    padding: 52px 79px;
    @include mixins.desktop{
            padding: 81px 50px;
        } 
    @include mixins.laptop{
            height: 360px;
            padding: 60px 50px;
    }      
    @include mixins.tablet{
            height: 519px;
            padding: 30px 50px;
    }      
    @include mixins.phones{
            width: 300px;
            height: 100%;
            padding: 20px 17%;

    }      
    background: v.$primaryBG url('../../../assets/img/lines_banner.png') right no-repeat;
    position: relative;
    &__bg{
        width: 35%;
        height: 100%;
        background-color: v.$sixBG;
        background-position: left;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__wrapper{
        @include mixins.flex(center);
        flex-wrap: wrap;
        position: relative;
        @include mixins.tablet{
            @include mixins.flex(flex-start, center, column); 
        }

    }
    &__img{
        width: 521px;
        height: 414px; 
        margin-right: 70px;
        & img {
            width: 100%;
            height: 100%;
        }
        @include mixins.desktop{
            width: 420px;
            height: auto; 
        }  
        @include mixins.laptop{
            width: 300px;
            height: auto; 
            margin-right: 30px;
        }  
        @include mixins.tablet{
            width: 350px;
            margin-right: 0;
        }  
        @include mixins.phones{
            width: 200px;
            margin-top: 10px;
        }  
    }
    &__content{
        width: 376px;
        @include mixins.flex(stretch, flex-start, column); 
        @include mixins.laptop{
            width: 270px;
        }
        @include mixins.tablet{
            width: 320px;
        }
        @include mixins.phones{
            width: 240px;
        }
    }
    &__title{
        margin-bottom: 38px;
        font-family: 'Playfair Display', serif;
        font-size: 32px;
        @include mixins.laptop{
            font-size: 26px;
            margin-bottom: 20px;
        }
        @include mixins.tablet{
            padding-top: 30px;
        }
        @include mixins.phones{
            font-size: 20px;
            padding-top: 25px;
        }
    }
    &__text{
        margin-bottom: 45px;
        font-size: 16px;
        line-height: 150%;
        color: v.$thirdBG;
        @include mixins.laptop{
            font-size: 14px;
            margin-bottom: 25px;
        }
        @include mixins.tablet{
            font-size: 12px;
            margin-bottom: 20px;
        }
        @include mixins.phones{
            font-size: 10px;
        }
    }
    &__link{
        width: 205px;
        height: 64px;
        padding: 26px 38px;
        background: v.$secondaryBG;
        color: v.$ligthTextColor;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.05em;
        @include mixins.laptop{
            width: 165px;
            height: 50px;
            padding: 19px 18px;
        }
        @include mixins.tablet{
            width: 130px;
            height: 30px;
            padding: 9px 10px;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
        }
        @include mixins.phones{
            width: 100px;
            height: 20px;
            padding: 4px 6px;
            font-size: 8px;
            line-height: 10px;
        }

    }
    &__pagination{
        width: 100%;
        height: 12px;
        position: absolute;
        bottom: -20px;
        left: 473px;
        @include mixins.flex(center);
        gap: 20px;
        @include mixins.desktop{
            bottom: -70px;
        }
        @include mixins.laptop{
            left: 273px;
            bottom: -40px;
        }
        @include mixins.tablet{
            left: 220px;
            bottom: 155px;
        }
        @include mixins.phones{
            left: 120px;
            bottom: 135px;
        }
        & span{
            font-family: 'Prata';
            font-size: 12px;
            color: v.$thirdTextColor;
        }
        & button{
            height: 12px;
            background-color: inherit;
            padding: 1px 0;
        }  
        & img{
            height: 10px;            
        }  
    }
    &__arrow-rigth{
        transform: rotate(-180deg);
    }
}
.news{
    padding: 81px 0 90px 0;
    @include mixins.tablet{
        padding: 30px 0 30px 0;
    }
    &__wrapper{
        @include mixins.flex(center);
        gap: 70px;
        @include mixins.desktop{
            gap: 50px;
        };
        @include mixins.laptop{
            gap: 25px;
        };
        @include mixins.tablet{
            @include mixins.flex(center, center, column);
            
        };
    }
    &__content{
        width: 472px;
        @include mixins.desktop{
            width: 326px;
        }
        @include mixins.laptop{
            width: 250px;
        }
        @include mixins.tablet{
            width: 326px;
            order: 2;
        }
        @include mixins.phones{
            width: 220px;
            order: 2;
        }
    }
    &__title{
        font-family: 'Playfair Display', serif;
        font-size: 32px;
        margin-bottom: 40px;
        @include mixins.desktop{
            font-size: 28px;
            margin-top: 60px;
        }
        @include mixins.laptop{
            font-size: 24px;
            margin-bottom: 30px;
            margin-top: 40px;
        }
        @include mixins.tablet{
            margin-top: 0;
        }
        @include mixins.phones{
            font-size: 18px;
            margin-top: 0;
        }
    }
    &__text{
        width: 376px;
        font-size: 16px;
        line-height: 27px;
        color: v.$thirdBG;
        margin-bottom: 118px;
        @include mixins.desktop{
            width: 326px;
        }
        @include mixins.laptop{
            width: 250px;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 60px;
        }
        @include mixins.phones{
            width: 220px;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 40px;
        }
    }
    &__img{
        width: 629px;
        display: flex;
        gap: 10px;
        @include mixins.desktop{
            width: 500px;
        }
        @include mixins.laptop{
            width: 350px;
        }
        @include mixins.tablet{
            width: 400px;
        }
        @include mixins.phones{
            width: 220px;
            gap: 5px;
        }
        &-wrapper{
            @include mixins.flex(stretch, flex-start, column);
            gap: 10px;
            @include mixins.tablet{
            gap: 5px;
        }
        }        
    }
    &__photo-small{
        width: 242px;
        @include mixins.desktop{
            width: 190px;
        }
        @include mixins.laptop{
            width: 130px;
        }
        @include mixins.tablet{
            width: 160px;
        }
        @include mixins.tablet{
            width: 160px;
        }
        @include mixins.phones{
            width: 84px;
        }
    }
    &__photo-big{
        width: 377px;
        @include mixins.desktop{
            width: 298px;
        }
        @include mixins.laptop{
            width: 190px;
        }
        @include mixins.tablet{
            width: 230px;
        }
        @include mixins.phones{
            width: 132px;
        }
    }
}
.socials{
    @include mixins.flex(flex-end);
    gap: 18px;
}
