@use '../setup/var' as v;
@use '../setup/mixins';

@import './new-collection';
@import './popular';
@import './news';
@import './product';
@import './quality';
@import './socials';


.button{
    width: 205px;
    height: 64px;
    padding: 26px 38px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: v.$ligthTextColor;
    @include mixins.laptop{
        width: 165px;
        height: 50px;
        padding: 19px 18px;
    }
    @include mixins.tablet{
        width: 130px;
        height: 30px;
        padding: 9px 10px;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
    @include mixins.phones{
        width: 100px;
        height: 20px;
        padding: 4px 6px;
        font-size: 8px;
        line-height: 10px;
    }

}
.title{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
        @include mixins.desktop{
            font-size: 28px;
        }
        @include mixins.laptop{
            font-size: 24px;
        }
        @include mixins.tablet{
            margin-top: 0;
        }
        @include mixins.phones{
            font-size: 20px;
        }
}


