@use '../setup/var' as v;
@use '../setup/mixins';
    
.news{
    padding: 81px 0 90px 0;
    @include mixins.tablet{
        padding: 30px 0 30px 0;
    }
    &__wrapper{
        @include mixins.flex(center);
        gap: 70px;
        @include mixins.desktop{
            gap: 50px;
        };
        @include mixins.laptop{
            gap: 25px;
        };
        @include mixins.tablet{
            @include mixins.flex(center, center, column);
            
        };
    }
    &__content{
        width: 472px;
        @include mixins.desktop{
            width: 326px;
        }
        @include mixins.laptop{
            width: 250px;
        }
        @include mixins.tablet{
            width: 326px;
            order: 2;
        }
        @include mixins.phones{
            width: 220px;
            order: 2;
        }
    }
    &__title{
        margin-bottom: 40px;
        @include mixins.desktop{
            margin-top: 60px;
        }
        @include mixins.laptop{
            margin-bottom: 30px;
            margin-top: 40px;
        }
        @include mixins.tablet{
            margin-top: 0;
        }
        @include mixins.phones{
            margin-top: 0;
        }
    }
    &__text{
        width: 376px;
        font-size: 16px;
        line-height: 27px;
        color: v.$thirdBG;
        margin-bottom: 118px;
        @include mixins.desktop{
            width: 326px;
        }
        @include mixins.laptop{
            width: 250px;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 60px;
        }
        @include mixins.phones{
            width: 220px;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 40px;
        }
    }
    &__img{
        width: 629px;
        display: flex;
        gap: 10px;
        @include mixins.desktop{
            width: 500px;
        }
        @include mixins.laptop{
            width: 350px;
        }
        @include mixins.tablet{
            width: 400px;
        }
        @include mixins.phones{
            width: 220px;
            gap: 5px;
        }
        &-wrapper{
            @include mixins.flex(stretch, flex-start, column);
            gap: 10px;
            @include mixins.tablet{
            gap: 5px;
        }
        }        
    }
    &__photo-small{
        width: 242px;
        @include mixins.desktop{
            width: 190px;
        }
        @include mixins.laptop{
            width: 130px;
        }
        @include mixins.tablet{
            width: 160px;
        }
        @include mixins.tablet{
            width: 160px;
        }
        @include mixins.phones{
            width: 84px;
        }
    }
    &__photo-big{
        width: 377px;
        @include mixins.desktop{
            width: 298px;
        }
        @include mixins.laptop{
            width: 190px;
        }
        @include mixins.tablet{
            width: 230px;
        }
        @include mixins.phones{
            width: 132px;
        }
    }
}